@import url('http://fonts.googleapis.com/css?family=Fjalla+One|Oxygen');

html {
    font-size: 62.5%;
}

body {
    background-color: #FF4E00;
    color: #333533;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.2rem;
}

h1,
h2,
h3 {
    font-family: 'Fjalla One', sans-serif;
}

.logs {
    overflow-x: scroll;
}

.table .col-xs-4 {
    max-width: 500px;
    word-wrap: break-word;
}

.navbar-nav {
    margin-right: 1rem;
}

.navbar-nav a i {
    padding-left: 0.5rem;
}

.wrapper {
    background-color: #FFFFFF;
    padding-bottom: 4rem;
    padding-top: 5rem;
}

.row {
    margin-bottom: 3rem;
    text-align: center;
}

.step {
    display: inline-block;
    margin: 0 1rem;
    position: relative;
}

.icon {
    width: 10rem;
}

.disabled {
    opacity: .4;
}

a {
    color: #333533;
}

footer {
    color: #9d9d9d;
}

footer a {
    color: #9d9d9d;
}
