//- header.jade
doctype html
html(lang="en")
  head
    title Git Mirror Sync
    meta(property="og:title", content="Git Mirror Sync")
    meta(property="og:url", content="https://git-mirror-sync.herokuapp.com/")
    meta(property="og:image", content="https://git-mirror-sync.herokuapp.com/img/git.png")
    meta(property="og:description", content="Keep all your GitHub repos mirrored safely on BitBucket")

    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    script(src="bundle.js")
  body
