//- header.jade
doctype html
html(lang="en")
  head
    title Git Mirror Sync
    meta(property="og:title", content="Git Mirror Sync")
    meta(property="og:url", content="https://git-mirror-sync.herokuapp.com/")
    meta(property="og:image", content="https://git-mirror-sync.herokuapp.com/img/git.png")
    meta(property="og:description", content="Keep all your GitHub repos mirrored safely on BitBucket")

    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/css/font-awesome.min.css")
    link(rel="stylesheet", type="text/css", href="/css/style.css")
  body
