html
  head
    title Git Mirror Sync
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", type="text/css", href="/css/style.css")
    link(rel="stylesheet", type="text/css", href="/css/font-awesome.min.css")
  body
    .logo
      h1 Git Mirror Sync
      p Keep all your GitHub repos mirrored safely on BitBucket
      p Fork me on 
        a(href="https://github.com/obihann/git-mirror-sync") GitHub
    .wrapper
      .step
        h2 Step 1:
        p Sign in with GitHub
        a(href="/auth/github")
          img(src="/img/octocat.png", alt="Login with GitHub", class="icon")
      .step
        h2.disabled Step 2:
        p.disabled Connect your BitBucket account 
        a.disabled
            img.disabled(src="/img/bitbucket_rgb_blue.png", alt="Login with BitBucket", class="icon")
      .step
        h2.disabled Step 3:
        p.disabled Add the webhook to your GitHub repos:
        pre.disabled https://git-mirror-sync.herokuapp.com/
    .footer
      p Copyright 2005, 
        a(href="http://jeffreyhann.ca") Jeffrey Hann
      p Protected under the 
        a(href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html") GNU General Public License, version 2

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-64817299-1', 'auto');
        ga('send', 'pageview');
